name: Create release on new tag

on:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    
    - name: Cache pip
      uses: actions/cache@v2
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-
    
    - name: Cache PlatformIO
      uses: actions/cache@v2
      with:
        path: ~/.platformio
        key: ${{ runner.os }}-${{ hashFiles('**/lockfiles') }}
    
    - name: Set up Python
      uses: actions/setup-python@v2
    
    - name: Install PlatformIO
      run: |
        python -m pip install --upgrade pip
        pip install --upgrade platformio
    
    - name: Build release binary
      run: pio run -e wt32-eth_ESP32 -e wt32-wifi_ESP32 -e wt32-plus-wifi_ESP32-S3 -e wt32-plus-eth_ESP32-S3 -e wt32-86v-wifi_ESP32-S3 -e wt32-86s-wifi_ESP32-S3 -e wt32-86s-eth_ESP32-S3

    - name: Create release
      uses: ncipollo/release-action@v1
      with:
        artifacts: .pio/build/**/*_v${{ github.ref_name }}*.bin
        token: ${{ secrets.GITHUB_TOKEN }}
        generateReleaseNotes: true
        prerelease: true